In [1]:
import pandas as pd
import dask.dataframe as dd

In [110]:
variable = pd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/PATIENTS.csv")
#variable.dtypes

In [111]:
variable1 = pd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/LABEVENTS.csv")
#variable1.dtypes

In [112]:
variable2 = pd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/PROCEDURES_ICD.csv")
#variable2.dtypes

In [113]:
variable3 = pd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/PRESCRIPTIONS.csv")
#variable3.dtypes

/Users/savitha/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [114]:
variable4 = pd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/DIAGNOSES_ICD.csv")
#variable4.dtypes

In [115]:
variable5 = pd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/D_LABITEMS.csv")
#variable5.dtypes

In [116]:
variable6 = pd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/ADMISSIONS.csv")
#variable6.dtypes

In [117]:
variable7 = pd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/CALLOUT.csv")
#variable7.dtypes

In [118]:
variable8 = pd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/INPUTEVENTS_MV.csv")
#variable8.dtypes

In [119]:
variable9 = pd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/TRANSFERS.csv")
#variable9.dtypes

In [121]:
variable1.count()

ROW_ID        27854055
SUBJECT_ID    27854055
HADM_ID       22245034
ITEMID        27854055
CHARTTIME     27854055
VALUE         27852810
VALUENUM      24932835
VALUEUOM      24753806
FLAG           9844166
dtype: int64

In [122]:
variable1.dtypes

ROW_ID          int64
SUBJECT_ID      int64
HADM_ID       float64
ITEMID          int64
CHARTTIME      object
VALUE          object
VALUENUM      float64
VALUEUOM       object
FLAG           object
dtype: object

In [124]:
df = pd.DataFrame(variable1)

In [125]:
#changing the datatype of HADM_ID from float to int
df['HADM_ID'] = df.HADM_ID.fillna(0).astype(int)

In [126]:
variable1.dtypes

ROW_ID          int64
SUBJECT_ID      int64
HADM_ID         int64
ITEMID          int64
CHARTTIME      object
VALUE          object
VALUENUM      float64
VALUEUOM       object
FLAG           object
dtype: object

In [127]:
num_lab_proc_variable = df.groupby(['SUBJECT_ID','HADM_ID'])['ITEMID'].count().reset_index(name='num_lab_procedures')
num_lab_proc_variable.head()

   SUBJECT_ID  HADM_ID  num_lab_procedures
0           2   163353                  47
1           3        0                 656
2           3   145834                1060
3           4        0                1409
4           4   185777                 245

In [19]:
#df.HADM_ID.value_counts().reset_index(name='num_lab_procedures')

In [20]:
#df.groupby(["HADM_ID"]).count().sort_values(["ITEMID"], 
 #   ascending=False).rename(columns={"ITEMID" : "num_lab_procedures"}).reset_index()

In [128]:
df1 = pd.DataFrame(variable2)

In [130]:
num_proc_varible = df1.groupby(['SUBJECT_ID','HADM_ID'])['ICD9_CODE'].count().reset_index(name='num_procedures')
num_proc_varible.head()

   SUBJECT_ID  HADM_ID  num_procedures
0           2   163353               1
1           3   145834               6
2           4   185777               3
3           5   178980               1
4           6   107064               5

In [131]:
variable3.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN,NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE
0,2214776,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Tacrolimus,Tacrolimus,Tacrolimus,TACR1,021796,469061711.0,1mg Capsule,2,mg,2,CAP,PO
1,2214775,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Warfarin,Warfarin,Warfarin,WARF5,006562,56017275.0,5mg Tablet,5,mg,1,TAB,PO
2,2215524,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Heparin Sodium,NaN,NaN,HEPAPREMIX,006522,338055002.0,"25,000 unit Premix Bag","25,000",UNIT,1,BAG,IV
3,2216265,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,BASE,D5W,NaN,NaN,HEPBASE,NaN,0.0,HEPARIN BASE,250,ml,250,ml,IV
4,2214773,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Furosemide,Furosemide,Furosemide,FURO20,008208,54829725.0,20mg Tablet,20,mg,1,TAB,PO

In [132]:
df2 = pd.DataFrame(variable3)

In [134]:
num_med_variable = df2.groupby(['SUBJECT_ID','HADM_ID'])['DRUG'].count().reset_index(name='num_medications')
num_med_variable.head()

   SUBJECT_ID  HADM_ID  num_medications
0           2   163353                4
1           4   185777               59
2           6   107064              148
3           8   159514                4
4           9   150750               68

In [135]:
df3 = pd.DataFrame(variable4)

In [136]:
number_diag_variable = df3.groupby('SUBJECT_ID')['ICD9_CODE'].count().reset_index(name='number_diagnoses')
number_diag_variable.head()

   SUBJECT_ID  number_diagnoses
0           2                 3
1           3                 9
2           4                 9
3           5                 3
4           6                 8

In [137]:
df4 = pd.DataFrame(variable5)

In [90]:
glu = variable5[variable5.LABEL == 'Glucose']
glu.head()

/Users/savitha/anaconda3/lib/python3.7/site-packages/dask/dataframe/core.py:4382: UserWarning: Insufficient elements for `head`. 5 elements requested, only 3 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

     ROW_ID  ITEMID    LABEL  FLUID    CATEGORY LOINC_CODE
136      10   50809  Glucose  Blood   Blood Gas     2339-0
258     132   50931  Glucose  Blood   Chemistry     2345-7
677     678   51478  Glucose  Urine  Hematology     5792-7

In [70]:
variable5.dtypes

ROW_ID         int64
ITEMID         int64
LABEL         object
FLUID         object
CATEGORY      object
LOINC_CODE    object
dtype: object

In [138]:
#Finding max_glu_serum itemid
glu = df4[df4.LABEL == 'Glucose']
glu_blood = glu[glu.FLUID == 'Blood']
glu_blood_gas = glu_blood[glu_blood.CATEGORY == 'Blood Gas']
df_glu_blood_gas = pd.DataFrame(glu_blood_gas)
#max_glu_serum_variable = df.HADM_ID[df.ITEMID == glu_blood_gas].reset_index(name='number_diagnoses')
#max_glu_serum_variable.head()

In [92]:
glu_blood_gas.dtypes

ROW_ID         int64
ITEMID         int64
LABEL         object
FLUID         object
CATEGORY      object
LOINC_CODE    object
dtype: object

In [106]:
variable1.dtypes

ROW_ID          int64
SUBJECT_ID      int64
HADM_ID         int64
ITEMID          int64
CHARTTIME      object
VALUE          object
VALUENUM      float64
VALUEUOM       object
FLAG           object
dtype: object

In [140]:
#Finding max_glu_serum's itemid from D_LABITEMS in LABEVENTS and fetching HADM_ID
max_glu_serum_temp = df[df['ITEMID'] == int(df_glu_blood_gas['ITEMID'])]
#max_glu_serum_temp.head()
max_glu_serum_temp = max_glu_serum_temp.drop_duplicates(subset=['SUBJECT_ID','HADM_ID'])
#max_glu_serum_temp.head()
max_glu_serum_variable = max_glu_serum_temp.loc[:,['SUBJECT_ID','HADM_ID','ITEMID']]
max_glu_serum_variable.rename(columns={'ITEMID':'max_glu_serum'}, inplace=True)
#max_glu_serum_variable.columns
max_glu_serum_variable.head()

      SUBJECT_ID  HADM_ID  max_glu_serum
465            3   145834          50809
777            3        0          50809
1000           4        0          50809
3979           6   107064          50809
4380           9   150750          50809

In [141]:
#Finding A1Cresult itemid
A1Cresult = df4[df4.LABEL == '% Hemoglobin A1c']
df_A1Cresult = pd.DataFrame(A1Cresult)
#df_A1Cresult.head()

In [142]:
A1Cresult_temp = df[df['ITEMID'] == int(df_A1Cresult['ITEMID'])]
#A1Cresult_temp
A1Cresult_temp = A1Cresult_temp.drop_duplicates(subset=['SUBJECT_ID','HADM_ID'])
#max_glu_serum_temp.head()
A1Cresult_variable = A1Cresult_temp.loc[:,['SUBJECT_ID','HADM_ID','ITEMID']]
A1Cresult_variable.rename(columns={'ITEMID':'A1Cresult'}, inplace=True)
A1Cresult_variable.head()

       SUBJECT_ID  HADM_ID  A1Cresult
2494            4        0      50852
4409            9   150750      50852
7931           17        0      50852
8533           18        0      50852
10311          23        0      50852

In [143]:
#Finding glyburide drug from prescriptions.csv
glyburide = df2[df2.DRUG.str.lower() == 'glyburide']
#glyburide.head()
df_glyburide = pd.DataFrame(glyburide.loc[:,['HADM_ID','DRUG']])
df_glyburide.rename(columns={'DRUG':'GlyBURIDE'}, inplace=True)
df_glyburide.head()

       HADM_ID  GlyBURIDE
1153    166707  GlyBURIDE
1188    166707  GlyBURIDE
10561   138528  Glyburide
13726   136614  GlyBURIDE
18033   135807  Glyburide

In [144]:
#Finding metformin drug from prescriptions.csv
metformin = df2[df2.DRUG.str.lower() == 'metformin']
#metformin.head()
df_metformin = pd.DataFrame(metformin.loc[:,['HADM_ID','DRUG']])
df_metformin.rename(columns={'DRUG':'Metformin'}, inplace=True)
df_metformin.head()

       HADM_ID  Metformin
482     143045  Metformin
2744    190665  Metformin
9768    151583  Metformin
10434   151583  Metformin
16448   127976  Metformin

In [145]:
#Finding pioglitazone drug from prescriptions.csv
pioglitazone = df2[df2.DRUG.str.lower() == 'pioglitazone']
#pioglitazone.head()
df_pioglitazone = pd.DataFrame(pioglitazone.loc[:,['HADM_ID','DRUG']])
df_pioglitazone.rename(columns={'DRUG':'pioglitazone'}, inplace=True)
df_pioglitazone.head()

         HADM_ID  pioglitazone
288968    143224  Pioglitazone
290186    143224  Pioglitazone
290868    143224  Pioglitazone
589697    181880  Pioglitazone
1174274   114978  Pioglitazone

In [146]:
#Finding rosiglitazone drug from prescriptions.csv
rosiglitazone = df2[df2.DRUG.str.lower() == 'rosiglitazone maleate']
#rosiglitazone.head()
df_rosiglitazone = pd.DataFrame(rosiglitazone.loc[:,['HADM_ID','DRUG']])
df_rosiglitazone.rename(columns={'DRUG':'rosiglitazone'}, inplace=True)
df_rosiglitazone.head()

       HADM_ID          rosiglitazone
24426   162308  Rosiglitazone Maleate
34284   116665  Rosiglitazone Maleate
39119   116665  Rosiglitazone Maleate
39316   116665  Rosiglitazone Maleate
47628   130310  Rosiglitazone Maleate

In [173]:
#Finding insulin drug from prescriptions.csv
insulin = df2[df2.DRUG.str.lower() == 'insulin']
#insulin.head()
df_insulin = pd.DataFrame(insulin.loc[:,['HADM_ID','DRUG']])
df_insulin.rename(columns={'DRUG':'insulin'}, inplace=True)
df_insulin.head()

     HADM_ID  insulin
27    143045  Insulin
112   185777  Insulin
114   185777  Insulin
121   185777  Insulin
123   185777  Insulin

In [168]:
#Finding glyburide-metformin drug from prescriptions.csv
#df_glyburide_metformin = df_glyburide[df_glyburide['HADM_ID'] == df_metformin['HADM_ID']]
#df_glyburide_metformin.head()

ValueError: Can only compare identically-labeled Series objects

In [170]:
df_glyburide.dtypes

HADM_ID       int64
GlyBURIDE    object
dtype: object

In [159]:
df_metformin.dtypes

HADM_ID       int64
Metformin    object
dtype: object

In [148]:
#Finding patientweight from inputevents_mv.csv
mrg6 = variable8.loc[:,['HADM_ID','PATIENTWEIGHT']]
#mrg6.head()

In [149]:
#Finding timeinhospital(LengthOfStay) from transfers.csv
mrg8 = variable9.loc[:,['HADM_ID','LOS']]
#mrg8.head()

In [150]:
mrg1 = variable6.loc[:,['SUBJECT_ID','HADM_ID','ETHNICITY','ADMISSION_TYPE','ADMISSION_LOCATION',
                        'INSURANCE','DIAGNOSIS','HOSPITAL_EXPIRE_FLAG']]
#mrg1.head()
mrg2 = variable7.loc[:,['HADM_ID','DISCHARGE_WARDID']]
#mrg2.head()
mrg3 = mrg1.merge(mrg2, on='HADM_ID', how='left')
df_mrg = pd.DataFrame(mrg3)
#df_mrg['SUBJECT_ID'] = df_mrg.SUBJECT_ID.fillna(0).astype(int)
#df_mrg['HADM_ID'] = df_mrg.HADM_ID.fillna(0).astype(int)
#df_mrg.dtypes
mrg4 = variable.loc[:,['SUBJECT_ID','GENDER']]
#mrg4.head()
mrg5 = mrg3.merge(mrg4, on='SUBJECT_ID', how='left')
#mrg5.dtypes

In [152]:
mrg7 = mrg5.merge(mrg6, on='HADM_ID', how='left')
#mrg7
mrg9 = mrg7.merge(mrg8, on='HADM_ID', how='left')
#mrg9
mrg10 = mrg9.merge(num_lab_proc_variable, on = ['SUBJECT_ID','HADM_ID'], how='left')
#mrg10.head()
mrg11 = mrg10.merge(num_proc_varible, on = ['SUBJECT_ID','HADM_ID'], how='left')
#mrg11.head()
mrg12 = mrg11.merge(num_med_variable, on = ['SUBJECT_ID','HADM_ID'], how='left')
#mrg12.head()
mrg13 = mrg12.merge(number_diag_variable, on='SUBJECT_ID', how='left')
#mrg13.head()
mrg14 = mrg13.merge(max_glu_serum_variable, on = ['SUBJECT_ID','HADM_ID'], how='right')
#mrg14

In [153]:
mrg15 = mrg14.merge(A1Cresult_variable, on = ['SUBJECT_ID','HADM_ID'], how='left')
mrg16 = mrg15.merge(df_metformin, on = 'HADM_ID', how='left')
#mrg16.count()

In [174]:
mrg17 = mrg16.merge(df_glyburide, on = 'HADM_ID', how='left')
mrg17.count()

SUBJECT_ID              22716972
HADM_ID                 22716972
ETHNICITY               22715134
ADMISSION_TYPE          22715134
ADMISSION_LOCATION      22715134
INSURANCE               22715134
DIAGNOSIS               22715133
HOSPITAL_EXPIRE_FLAG    22715134
DISCHARGE_WARDID        16118372
GENDER                  22715134
PATIENTWEIGHT           22620063
LOS                     18999950
num_lab_procedures      22715134
num_procedures          22585956
num_medications         22703022
number_diagnoses        22715134
max_glu_serum           22716972
A1Cresult                5313197
Metformin                   9936
GlyBURIDE                 775001
dtype: int64

In [175]:
mrg18 = mrg17.merge(df_pioglitazone, on = 'HADM_ID', how='left')
mrg18

,SUBJECT_ID,HADM_ID,ETHNICITY,ADMISSION_TYPE,ADMISSION_LOCATION,INSURANCE,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,DISCHARGE_WARDID,GENDER,...,LOS,num_lab_procedures,num_procedures,num_medications,number_diagnoses,max_glu_serum,A1Cresult,Metformin,GlyBURIDE,pioglitazone
0,23,152223,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,Medicare,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0.0,NaN,M,...,9.29,208.0,7.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
1,23,152223,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,Medicare,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0.0,NaN,M,...,30.34,208.0,7.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
2,23,152223,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,Medicare,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0.0,NaN,M,...,99.15,208.0,7.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
3,23,152223,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,Medicare,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0.0,NaN,M,...,NaN,208.0,7.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
4,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,64.09,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
5,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,28.47,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
6,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,5.95,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
7,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,63.97,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
8,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,NaN,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
9,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,64.09,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
10,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,28.47,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
11,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,5.95,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
12,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,63.97,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
13,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,NaN,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
14,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,64.09,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
15,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,28.47,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
16,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,5.95,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
17,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,63.97,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
18,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,NaN,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
19,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,64.09,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
20,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,28.47,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
21,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,5.95,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
22,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,63.97,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
23,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,NaN,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
24,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,64.09,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
25,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,28.47,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
26,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,5.95,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
27,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,63.97,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
28,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,NaN,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
29,23,124321,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,Medicare,BRAIN MASS,0.0,31.0,M,...,64.09,221.0,1.0,69.0,18.0,50809,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22771741,94609,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771742,93235,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771743,93113,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,50852.0,NaN,NaN,NaN
22771744,93391,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771745,93949,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771746,93679,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,50852.0,NaN,NaN,NaN
22771747,93894,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,50852.0,NaN,NaN,NaN
22771748,91000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771749,93705,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771750,93800,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771751,93732,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771752,93459,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,50852.0,NaN,NaN,NaN
22771753,93411,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771754,91379,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,50852.0,NaN,NaN,NaN
22771755,98468,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771756,95834,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771757,98297,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771758,98494,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771759,98283,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,50852.0,NaN,NaN,NaN
22771760,96115,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771761,97518,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771762,96514,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771763,96913,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771764,96997,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,50852.0,NaN,NaN,NaN
22771765,96347,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771766,96892,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771767,96865,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN
22771768,96930,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,50852.0,NaN,NaN,NaN
22771769,95798,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,50852.0,NaN,NaN,NaN
22771770,99164,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50809,NaN,NaN,NaN,NaN

In [48]:
#mrg19 = mrg18.merge(df_rosiglitazone, on = 'HADM_ID', how='left')
#mrg19.count()

In [ ]:
#mrg20 = mrg19.merge(df_insulin, on = 'HADM_ID', how='left')
#mrg20.count()

In [176]:
mrg18.dtypes

SUBJECT_ID                int64
HADM_ID                   int64
ETHNICITY                object
ADMISSION_TYPE           object
ADMISSION_LOCATION       object
INSURANCE                object
DIAGNOSIS                object
HOSPITAL_EXPIRE_FLAG    float64
DISCHARGE_WARDID        float64
GENDER                   object
PATIENTWEIGHT           float64
LOS                     float64
num_lab_procedures      float64
num_procedures          float64
num_medications         float64
number_diagnoses        float64
max_glu_serum             int64
A1Cresult               float64
Metformin                object
GlyBURIDE                object
pioglitazone             object
dtype: object

In [178]:
mrg18['HOSPITAL_EXPIRE_FLAG'] = mrg18.HOSPITAL_EXPIRE_FLAG.fillna(0).astype(int)

In [179]:
mrg18.dtypes

SUBJECT_ID                int64
HADM_ID                   int64
ETHNICITY                object
ADMISSION_TYPE           object
ADMISSION_LOCATION       object
INSURANCE                object
DIAGNOSIS                object
HOSPITAL_EXPIRE_FLAG      int64
DISCHARGE_WARDID        float64
GENDER                   object
PATIENTWEIGHT           float64
LOS                     float64
num_lab_procedures      float64
num_procedures          float64
num_medications         float64
number_diagnoses        float64
max_glu_serum             int64
A1Cresult               float64
Metformin                object
GlyBURIDE                object
pioglitazone             object
dtype: object

In [188]:
#Moratility count
expire_variable = mrg18.HOSPITAL_EXPIRE_FLAG.value_counts().reset_index(name='Moratility number')
expire_variable

   index  Moratility number
0      0           18425663
1      1            4346108